body {
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 50px;
    background-image: url(../images/ocean.webp);
    text-align: center;
    background-attachment: fixed;
}

.nav-list {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(21, 7, 216);
    margin: 5px;
    padding: 5px;
    list-style: none;
}
.service li {
    list-style: none;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.5);
}

div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    color: rgb(26, 168, 224);
    font-size: 2rem;
}

.nav-list li {
   border: 2px solid rgb(57, 6, 99);
   border-radius: 25%;
   background-color: rgb(189, 249, 240);
   font-size: 30px;
   padding: 5px;
}

h1, h3 {
    color: aqua;
    font-family: 'Allura', cursive; 
}

h6 {
    font-style: oblique;
    text-align: left;
    font-size: small;
    color: aqua;
}

a {
    color: rgb(21, 7, 216);
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(244, 245, 242);
    text-align: center;
    /* background-color: rgba(55, 31, 109, 0.5); */
    max-width: 70vb;
    border-radius: 5vb;
} 

p, img {
    max-width: 650px;
    max-height: 650px;
    float: right;
    padding: 2px 2px;
    border-radius: 3vb;
    opacity: 0.7;
}

 .footer {
    font-size: small;
    color: aquamarine;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
  hr {
    border: 2px solid blue;
  }

  .push {
    align-items: end;
  }
